<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cert Lookup</title>
    <% include ../partials/head %>
    <script src="/javascripts/cert_search.js"></script>
</head>
<body>

<% include ../partials/header %>

  <form class="coral-Form coral-Form--vertical">
    <section class="coral-Form-fieldset">
      <label id="certLabel" class="coral-Form-fieldlabel">Please enter a SHA1 or SHA256 hash.</label>
      <coral-search value="" name="certSearch" labelledby="certLabel" id="search_input"></coral-search>
    </section>
  </form>

<div class="divTable">
  <div class="tableRow">
    <div id="rangeCounts" class="tableCell">
        <table class="coral-Table apiTable" id="certCountTable">
            <thead class="coral-Table-head apiTableHead">
                <tr class="coral-Table-row">
                    <th class="coral-Table-headerCell">Type</th>
                    <th class="coral-Table-headerCell">Count</th>
                </tr>
            </thead>
            <tbody class="coral-Table-body apiTableBody" id="certListBody">
                <tr class="coral-Table-row">
                    <td class="coral-Table-cell">Certificiate Transparency Records</td>
                    <td class="coral-Table-cell" id="certTransparency"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="certDetails" class="coral-Well tableCell">
    </div>
  </div>
</div>
<br/>

<% include ../partials/footer %>

</body>
</html>
