<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <% include ../partials/head %>
    <script src="/javascripts/index.js"></script>
</head>
<body class="coral--light">

<% include ../partials/header %>

<h1 class="coral-Heading coral-Heading--1">Welcome to Marinus! </h1>
<p>This site collects data from public sources regarding public facing infrastructure. There is information on domains, IPs, ports, SSL certificates, and various other bits of information. Since the data is from public resources, this information is also available to anyone external to Adobe. This site does not have a 100% complete view of the tracked network at this time but it does represent a significant portion of the available assets. The data provided is not collected in real time. It is updated approximately once a week.</p>

<p>If you have never been here before, you can start by examining the <I>Meta Search</I> and <I>Reports</I> utilities. The <I>Host</I> utilities are for when you have something specific in mind that you want to look up.</p>

Below are few shortcuts to common searches. The other searches can be found in the Host Details pull down menu. 

<br/>
<br/>

<form class="coral-Form coral-Form--vertical">
  <section class="coral-Form-fieldset">
    <label id="zoneLabel" class="coral-Form-fieldlabel">Search records associated with a root domain (e.g. "example.com", "example.net", etc.).</label>
    <coral-search value="" name="zoneSearch" labelledby="zoneLabel" id="zone_input"></coral-search>
  </section>
  <section class="coral-Form-fieldset">
    <label id="fqdnLabel" class="coral-Form-fieldlabel">Search for a fully qualified domain name (e.g. "www.example.com", "images.example.net", etc.).</label>
    <coral-search value="" name="fqdnSearch" labelledby="fqdnLabel" id="fqdn_input"></coral-search>
  </section>
  <section class="coral-Form-fieldset">
    <label id="ipLabel" class="coral-Form-fieldlabel">Search for an IP address (e.g. "4.4.4.4", etc.).</label>
    <coral-search value="" name="ipSearch" labelledby="ipLabel" id="ip_input"></coral-search>
  </section>
</form>
    
    
<% include ../partials/footer %>

</body>
</html>