<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Logged out</title>
    <%- include('../partials/head') %>
        <link href='/stylesheets/general.css' rel='stylesheet'>
</head>

<body>

    <%- include('../partials/header') %>

        <p>You have been logged out.</p>

    <%- include('../partials/footer') %>

</body>

</html>
