<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Job Status</title>
    <%- include('../../partials/head') %>
        <script src="/javascripts/config.js"></script>
</head>

<body>

    <%- include('../../partials/header') %>

        <h1>Job Status </h1>
        <p>This page provides details on data analysys jobs and when they were completed.</p>

        <div id="jobStatus"></div>

        <%- include('../../partials/footer') %>

</body>

</html>