<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Header Host Report</title>
    <%- include('../../partials/head') %>
        <script src="/javascripts/zgrab_headers.js"></script>
        <script src="/javascripts/headers.js"></script>
</head>

<body>

    <%- include('../../partials/header') %>

        <div id="hostDetails"></div>

        <%- include('../../partials/footer') %>

</body>

</html>