<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Third-Party Domain List</title>
    <%- include('../../partials/head') %>
        <script src="/javascripts/meta.js"></script>
</head>

<body>

    <%- include('../../partials/header') %>

        <div id="tpd_detail"></div><br>
        <br>

        <%- include('../../partials/footer') %>

</body>

</html>