# It should be noted that the Python 3 config parser has slight differences
# from Python 2. For instance, a '%' in a value has to be double encoded '%%'

[General]
#Enable debugging for verbose output (Values: 0 or 1)
debug: 0


[Infoblox]
# The hostname of the Infoblox server
infoblox.host: INFOBLOX_HOST

# The Infoblox AD username
infoblox.username: INFOBLOX_USERNAME

# The Infoblox AD password
infoblox.passwd: INFOBLOX_PASSWORD

# The Infoblox API version
infoblox.version: 2.6.1


[RiskIQ]
# The URL of the RiskIQ API
riskiq.url: https://ws.riskiq.net/v1/

# The RiskIQ authentication key
riskiq.key: RISKIQ_KEY

# The RiskIQ authentication token
riskiq.token: RISKIQ_TOKEN


[PassiveTotal]
# The URL of the PassiveTotal API
pt.url: https://api.passivetotal.org/v2/

# The PassiveTotal authentication token
pt.token: PASSIVETOTAL_TOKEN

# The PassiveTotal authentication key
pt.key: PASSIVETOTAL_KEY


[Cisco]
# The Cisco Umbrella key
umbrella.key: UMBRELLA_API_KEY


[VirusTotal]
# The VirusTotal Private API Key (if used)
virustotal.apikey: VT_PRIVATE_API_KEY

# The VirusTotal Public API Key
virustotal.public_apikey: VT_PUBLIC_API_KEY

# The VirusTotal API URL
virustotal.url: https://www.virustotal.com/vtapi/v2/


[Rapid7]
# The Rapid7 API authentication URL
rapid7.auth_url: RAPID7_V1_AUTH_URL

# The Rapid7 API username
rapid7.username: RAPID7_USERNAME

# The Rapid7 API password
rapid7.password: RAPID7_PASSWORD


[MongoDB]
# The MongoDB protocol
mongo.protocol: mongodb://

# The MongoDB username
mongo.username: PROD_DATABASE_USERNAME

# The MongoDB password
# Special characters must be URL escaped
mongo.password: PROD_DATABASE_PASSWORD

# The MongoDB host and port
mongo.host: localhost:27017

# The MongoDB path (This is a "/" followed by the database name)
mongo.path: /DOMAINS

# MongoDB SSL cert (if necessary)
mongo.ca_cert:


[RemoteMongoDB]
# The MongoDB protocol
mongo.protocol: mongodb://

# The MongoDB username
mongo.username: REMOTE_DATABASE_USERNAME

# The MongoDB password
# Special characters must be URL escaped
mongo.password: REMOTE_DATABASE_PASSWORD

# The MongoDB host and port
mongo.host: REMOTE_HOST_NAME:27017

# The MongoDB path (This is a "/" followed by the database name)
mongo.path: /DOMAINS

# MongoDB SSL cert (If necessary)
mongo.ca_cert: ./mongoCA.pem


[Facebook]
# The App ID for the Facebook app
fb.app_id: FACEBOOK_APP_ID

# The App Secret for the Facebook app
fb.app_secret: FACEBOOK_APP_SECRET

# The current version of the Graph API
fb.graph_version: v3.0

# The base URL for the graph API
fb.url: https://graph.facebook.com/


[UltraDNS]
# The UltraDNS username
ultra.username: UltraDNS_USERNAME

# The UltraDNS password
ultra.password: UltraDNS_PASSWORD

# The UltraDNS login URL
ultra.login_url: https://restapi.ultradns.com/v2/authorization/token

# The UltraDNS zones listing API
ultra.zones_listing: https://restapi.ultradns.com/v2/zones/

# The UltraDNS zones DNS information API
ultra.zones_dns: https://restapi.ultradns.com/v2/zones/{zone_queried}./rrsets


[Azure]
# This is file_path is required if you are using File Based Authentication to Azure DNS
az.file_path:

# The Tenant ID is required for RBAC authentication to Azure DNS
az.tenant_id: AZURE_TENANT_ID

# The subscription ID is required for RBAC authentication to Azure DNS
az.subscription_id: AZURE_SUB_ID

# The Client ID / Service Principal App ID is required for RBAC authentication to Azure DNS
az.client_id: AZURE_CLIENT_ID

# The Service Principal key/password is required for RBAC authentication to Azure DNS
az.sp_password: AZURE_SP_PASSWD


[Splunk]
# The hostname of the Splunk API server
splunk.host: YOUR_SPLUNK_API_SERVER

# The port of the Splunk API server
splunk.port: 443

# The username for the Splunk API
splunk.username: SPLUNK_USERNAME

# The password for the Splunk API
splunk.password: SPLUNK_PASSWORD


[SplunkHEC]
# The hostname of the Splunk HEC server
splunk.host: YOUR_SPLUNK_HEC_ENDPOINT

# The port of the Splunk HEC server
splunk.port: 443

# The write access token for the HEC server
splunk.access_token: SPLUNK_ACCESS_TOKEN

# The index on the server
splunk.index: SPLUNK_INDEX

# The host value for the log
splunk.hostname: marinus

