azure-identity
azure-mgmt-resource
azure-mgmt-dns
azure-storage-blob
backoff
boto3
bson
certifi
configparser
cryptography
HTMLParser
netaddr
networkx
pymongo
pyopenssl
python-dateutil
python-whois
requests
splunk-sdk
tld
