<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Certificate Transparency SSL Data</title>
    <%- include('../../partials/head') %>
        <script src="/javascripts/certs.js"></script>
</head>

<body>

    <%- include('../../partials/header') %>

        <h3>Certificate Transparency Database</h3>
        <b>The corporate certificates currently recorded in the CT database.</b><br />
        <br />
        <div class="form-check form-check-inline">
            <input type="checkbox" id="excludeExpired" class="form-check-input form-control-lg"></input>
            <label for="excludeExpired" class="form-check-label">Exclude expired certificates:</label>
        </div>
        <br />

        <div id="ct_corp_certs"><img src="/stylesheets/octicons/svg/gear.svg" class="rotateAnimation" alt="timer" />
        </div><br>

        <%- include('../../partials/footer') %>

</body>

</html>