<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dead DNS entries</title>
    <% include ../../partials/head %>
    <script src="/javascripts/reports.js"></script>
</head>
<body>

<% include ../../partials/header %>
    
<h2>DNS entries that no longer resolve.</h2>
<div id="deadDnsDiv"><coral-wait></coral-wait></div><br>

<% include ../../partials/footer %>

</body>
</html>