<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Certificate information</title>
    <% include ../../partials/head %>
    <script src="/javascripts/certs.js"></script>
</head>
<body>
    
<div id="cert_info"><coral-wait></coral-wait></div><br>

</body>
</html>
