<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Public Corporate SSL Data</title>
    <%- include('../../partials/head') %>
        <script src="/javascripts/certs.js"></script>
</head>

<body>

    <%- include('../../partials/header') %>

        <h3>Public Corporate SSL Information</h3>
        <b>Corporate certificates visible from public IPs</b>
        <div id="scan_corp_certs"><img src="/stylesheets/octicons/svg/gear.svg" class="rotateAnimation" alt="timer" />
        </div><br>

        <%- include('../../partials/footer') %>

</body>

</html>