<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>VirusTotal Threats</title>
    <%- include('../../partials/head') %>
        <script src="/javascripts/reports.js"></script>
</head>

<body>

    <%- include('../../partials/header') %>

        <h3>Detected Referrer samples</h3>
        <p>Detected Referrer samples are the 100 most recent samples that contain the given domain among their strings
            and detected by at least one AV. Click the button below to see the Adobe TLDs that have detected referrer
            results.</p>
        <button class="btn btn-primary" id="referrerButton"><span id="referrerCount">0</span> Domains&nbsp;<img
                src="/stylesheets/octicons/svg/search.svg" alt="check" /></button><br>
        <br />
        <br />
        <h3>Detected Communicating Samples</h3>
        <p>Detected communicating samples are the latest 100 files submitted to VirusTotal that are detected by one or
            more antivirus solutions and communicate with the IP address provided when executed in a sandboxed
            environment. Click the button below to see the Adobe TLDs that have detected communicating results.</p>
        <button class="btn btn-primary" id="communicatingButton"><span id="communicatingCount">0</span>
            Domains&nbsp;<img src="/stylesheets/octicons/svg/search.svg" alt="check" /></button><br>
        <br />
        <br />
        <h3>Detected URLs</h3>
        <p>Detected URLs are URLs hosted at this IP address that have url scanner postive detections. Click the button
            below to see the Adobe TLDs that have detected URL results.</p>
        <button class="btn btn-primary" id="urlsButton"><span id="urlsCount">0</span> Domains&nbsp;<img
                src="/stylesheets/octicons/svg/search.svg" alt="check" /></button><br>
        <br />
        <br />
        <h3>Detected Downloaded Samples</h3>
        <p>Latest 100 files that have been downloaded from this IP address with AV detections. Click the button below to
            see the Adobe TLDs that have detected URL results.</p>
        <button class="btn btn-primary" id="downloadedButton"><span id="downloadedCount">0</span> Domains&nbsp;<img
                src="/stylesheets/octicons/svg/search.svg" alt="check" /></button><br>
        <br />
        <br />
        <h3>PCAPs</h3>
        <p>PCAP files associated with the TLD.</p>
        <button class="btn btn-primary" id="pcapsButton"><span id="pcapsCount">0</span> Domains&nbsp;<img
                src="/stylesheets/octicons/svg/search.svg" alt="check" /></button><br>
        <br />
        <br />
        <div id="tableTitle"></div>
        <div id="report_details"></div>

        <%- include('../../partials/footer') %>

</body>

</html>