[General]
#Enable debugging for verbose output (Values: 0 or 1)
debug: 0


[RiskIQ]
riskiq.url: https://ws.riskiq.net/v1/
riskiq.key: RISKIQ_KEY
riskiq.token: RISKIQ_TOKEN


[MongoDB]
#The MongoDB protocol
mongo.protocol: mongodb://

#The MongoDB username
mongo.username: PROD_DATABASE_USERNAME

#The MongoDB password
#Special characters must be URL escaped
mongo.password: PROD_DATABASE_PASSWORD

#The MongoDB host and port
mongo.host: localhost:27017

#The MongoDB path
mongo.path: /DOMAINS


[RemoteMongoDB]
#The MongoDB protocol
mongo.protocol: mongodb://

#The MongoDB username
mongo.username: REMOTE_DATABASE_USERNAME

#The MongoDB password
#Special characters must be URL escaped
mongo.password: REMOTE_DATABASE_PASSWORD

#The MongoDB host and port
mongo.host: REMOTE_HOST_NAME:27017

#The MongoDB path
mongo.path: /DOMAINS

#MongoDB SSL cert
mongo.ca_cert = ./mongoCA.pem
